div
	h1 Posts
	div {{root.postName}}
	form(ng-submit="root.postName = 'hi'")
		input(ng-model="root.postName")

	img(src=require('../../../assets/images/1.jpg') height=400)
	img(src=require('../../../assets/images/2.jpg') height=400)
	img(src=require('../../../assets/images/3.jpg') height=400)
	img(src=require('../../../assets/images/4.jpg') height=400)
	img(src=require('../../../assets/images/5.jpg') height=400)
	img(src=require('../../../assets/images/6.jpg') height=400)
	img(src=require('../../../assets/images/7.jpg') height=400)
	img(src=require('../../../assets/images/8.jpg') height=400)